@font-face {
    src:url("./assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
    font-family:"Figtree";
    font-weight:600;
    font-style:normal;
}

@font-face {
    src:url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
    font-family:"Figtree";
    font-weight:800;
    font-style:normal;
}

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }